{% extends 'base.html' %}
{% block content %}

<h1>Building Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ building.name}} ({{ building.opening_year }})</span>
        <p>Location: {{ building.city }}, {{ building.country }}</p>
        <p>Height: {{ building.height_in_feet}} ft.</p>
      </div>
      <div class="card-action">
        <a href="{% url 'buildings_update' building.id %}">Edit</a>
        <a href="{% url 'buildings_delete' building.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">

    <form action="{% url 'add_visit' building.id %}" method="POST">
      {% csrf_token %}
      {{ visit_form.as_p }}
      <input type="submit" class="btn" value="Add Visit">
    </form>
    
    <table class="striped">
      <thead>
        <tr><th>Name</th><th>Date</th><th>Rating</th></tr>
      </thead>
      <tbody>
        {% for visit in building.visit_set.all %}
          <tr>
            <td>{{ visit.name }}</td>
            <td>{{ visit.date }}</td>
            <td>{{ visit.get_rating_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>Similar Buildings</h3>
    {% if building.references.count %}
      {% for reference in building.references.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ reference.name }} ({{ reference.country }})
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>None</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Refereces</h3>
    {% if references.count %}
      {% for reference in references.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ reference.name }} ({{ reference.country }})
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_reference' building.id reference.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>There Are No More Refereces Available For This Building</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_rating');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}